<div class="inner">
	<% if params[:page].blank? %>
		<h3>Congratulations, everyone - we did it.</h3>
		<p>&nbsp;</p>
		<p>Following the disappointment of the 2000 and 2004 elections, it seems we've learned from our mistakes.
			We think that's a victory worth celebrating.
		</p>
		<p>&nbsp;</p>
		<h2><%= link_to 'Show us your sign!', new_post_path %></h2>
		<p>&nbsp;</p>
	<% end %>
	
	<% for post in @posts %>
	<div class="post">
	    <div class="date">
			<div class="date-inner">
				<%=h post.created_at.strftime("%b") %>
				<span class="datenum"><%=h post.created_at.strftime("%d") %></span>
			</div>
		</div>

		<div class="post-meta">
			<h2 class="name"><%= link_to post.name, :controller => 'posts', :action => 'show', :id => post %></h2>
		    <p><%=h post.name %> in <%=h post.city + ', ' unless post.city.blank? %><%=h post.state + ", " unless post.state.blank? %> <%=h "" + post.country + "" unless post.country.blank? %></p>
		</div>

		<% unless post.image.url == "/images/original/missing.png" %>
			<div class="shadowed-image-container">
				<div class="shadowed-image"><%= image_tag post.image.url(:regular)  %></div>
			</div>
		<% end %>
		<div class="clear"></div>

	    <p><%=h truncate(post.content, 255, '...') %></p>
		<p><%= link_to "Permalink", :controller => 'posts', :action => 'show', :id => post.id %> </p>

		<% if params[:admin] && params[:admin] == "heckyes" %>
	    	<p class="actions"><%= link_to 'Show', post %> | <%= link_to 'Edit', edit_post_path(post) %> | <%= link_to 'Delete', '/post/remove_post/' + post.id.to_s, :confirm => 'Are you sure?', :method => :post %></p>
		<% end %>
	</div>
	<% end %>

  <%= will_paginate @posts %>

</div>