<div class="inner">
	<div class="post">
	    <div class="date">
			<div class="date-inner">
				<%=h @post.created_at.strftime("%b") %>
				<span class="datenum"><%=h @post.created_at.strftime("%d") %></span>
			</div>
		</div>

		<div class="post-meta">
			<h2 class="name"><%= link_to @post.name, :controller => 'posts', :action => 'show', :id => @post %></h2>
		    <p><%=h @post.name %> in <%=h @post.city + ', ' unless @post.city.blank? %><%=h @post.state + ", " unless @post.state.blank? %> <%=h "" + @post.country + "" unless @post.country.blank? %></p>
		</div>

		<% unless @post.image.url == "/images/original/missing.png" %>
			<div class="shadowed-image-container">
				<div class="shadowed-image"><%= image_tag @post.image.url(:regular)  %></div>
			</div>
		<% end %>
		<div class="clear"></div>

	    <p><%=h @post.content %></p>

	</div>

</div>