<div class="inner">
	<div class="post">
	    <div class="date">
			<div class="date-inner">
				<%=h @post.created_at.strftime("%b") %>
				<span class="datenum"><%=h @post.created_at.strftime("%d") %></span>
			</div>
		</div>

		<div class="post-meta">
			<h2 class="name"><%= link_to @post.name, :controller => 'posts', :action => 'show', :id => @post %></h2>
		    <p><%=h @post.name %> in <%=h @post.city %>, <%=h @post.state %> (<%=h @post.country %>)</p>			
		</div>

		<% unless @post.image.url == "/images/original/missing.png" %>
			<p style="text-align: center;">
				<span class="shadowed-image"><%= image_tag @post.image.url(:regular)  %></span>
			</p>
		<% end %>

	    <p><%=h @post.content %></p>

	</div>

</div>